<!DOCTYPE html>
<html>
  <head>
    <title>Exercise Tracker | Free Code Camp</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Exercise Tracker</h1>
    <div class="container">
      <div class="d-left">
        <form action="/api/exercise/new-user" method="post">
          <h3>Create a New User</h3>
          <p><code>Save your userId!</code></p>
          <input
            id="uname"
            type="text"
            name="username"
            placeholder="username*"
          />
          <input type="submit" value="Submit" />
        </form>
        <form action="/api/exercise/log" method="get">
          <h3>User lookup</h3>
          <input id="uid" type="text" name="userId" placeholder="userId*" />
          <input id="from" type="text" name="from" placeholder="From date" />
          <input id="to" type="text" name="to" placeholder="To date" />
          <input
            id="limit"
            type="text"
            name="limit"
            placeholder="No. of results"
          />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="d-right">
        <form action="/api/exercise/add" method="post">
          <h3>Add exercises</h3>
          <!--<p><code>POST /api/exercise/add</code></p>-->
          <input id="uid" type="text" name="userId" placeholder="userId*" />
          <input
            id="desc"
            type="text"
            name="description"
            placeholder="description*"
          />
          <input
            id="dur"
            type="text"
            name="duration"
            placeholder="duration* (mins.)"
          />
          <input
            id="dat"
            type="text"
            name="date"
            placeholder="date (yyyy-mm-dd)"
          />
          <input type="submit" value="Submit" />
        </form>
        <form action="/api/exercise/users">
          <h3>All users</h3>
          <input type="submit" value="View All" />
        </form>
      </div>
      <!-- <p>
        <strong>GET users's exercise log: </strong
        ><code
          >GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code
        >
      </p>
      <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
      <p>
        <strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> =
        number
      </p>
      </p> -->
    </div>
  </body>
</html>
